<!-- Lista que debera ser componente eventualmente -->
<table class="table table-striped table-hover table-bordered">
  <thead class="table-secondary">
    <tr>
      <th scope="col">Emisor</th>
      <th scope="col">Invitado</th>
      <th scope="col">Estado de invitacion</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (invitation of invitations; track $index) {
    <tr>
      <td>{{invitation.senderUser.name}} {{invitation.senderUser.lastName}}</td>
      <td>{{invitation.receiverUser.name}} {{invitation.receiverUser.lastName}}</td>
      <td>{{invitation.status}}</td>
    </tr>
    }
  </tbody>
</table>