@font-face {
    font-family: "Poppins Bold";
    src: url("../../../assets/fonts/Poppins/Bold/Poppins-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url("../../../assets/fonts/Poppins/SemiBold/Poppins-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins Regular";
    src: url("../../../assets/fonts/Poppins/Regular/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins Medium";
    src: url("../../../assets/fonts/Poppins/Medium/Poppins-Medium.ttf") format('truetype');
}

.sidebar {
    overflow-y: auto;
    max-height: 800px;
    min-height: 600px;
}

.content {
    overflow-y: auto;
    max-height: 800px;
}

h1 {
    font-family: Poppins Bold, sans-serif;
    font-size: 4em;
}

#btn-new-group {
    font-family: Poppins Regular, sans-serif;
}
