<app-navbar />
<div style="min-height: 100vh; background-color: #000000ed;">
  <div class="container" style="max-width: 1200px;">
    <div
      style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;">
      <h1 class="display-3 pt-4" style="color: white;">Grupos</h1>
      <button type="button" class="btn btn-lg btn-light px-4 mt-3" id="btn-new-group"
        data-bs-target="#modal-group-add-form" data-bs-toggle="modal">
        Nuevo grupo
      </button>
    </div>

    <!-- MODAL para la creacion de grupos. -->
    <app-group-create [groupCategories]="groupCategories" [user]="currentUser!" />

    <!-- SELECTOR DE GRUPOS (Mis grupos y Grupos en los que participa el usuario) -->
    <div class="btn-group mt-4" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" [(ngModel)]="selectedGroupOption" [value]="'misGrupos'"
        (ngModelChange)="setGroupOption($event)" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
        [checked]="selectedGroupOption === 'misGrupos'">
      <label class="btn btn-outline-light" for="btnradio2">Mis grupos</label>

      <input type="radio" [(ngModel)]="selectedGroupOption" [value]="'gruposEnLosQueParticipo'"
        (ngModelChange)="setGroupOption($event)" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
        [checked]="selectedGroupOption === 'gruposEnLosQueParticipo'">
      <label class="btn btn-outline-light" for="btnradio3">Grupos en los que formo parte</label>
    </div>
  </div>


  <div class="container" style="max-width: 1200px;">
    <div class="mt-4 pb-5">
      <div class="row">
        <!-- Columna lateral a la izquierda - Sidebar seleccion de grupos -->
        <div class="col-md-4 sidebar">
          <app-groups-sidebar [groups]="groups" 
            [selectedGroupOption]="selectedGroupOption" [actualGroup]="actualGroup" [groupSpendings]="groupSpendings"/>
        </div>
        
        <!-- Contenido a la derecha -->
        <div class="col-md-8 content px-5 py-5" style="background-color: #f6f6f6; border-radius: 7px;">
          <!-- Contenido MAIN de grupos -->
          <app-groups-main [groups]="groups" [actualGroup]="actualGroup" [groupSpendings]="groupSpendings"
            [selectedGroupOption]="selectedGroupOption" />
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <app-footer /> -->