.sidebar {
    overflow-y: auto;
    max-height: 600px;
    border-right: 1px solid #ccc;
}

.content {
    overflow-y: auto;
    max-height: 100%;
}

li {
    cursor: pointer;
}

li:hover{
    background-color: #e9e9e9;
}