@if (isLoggin){
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<a class="navbar-brand" routerLink="/home" routerLinkActive="active">CuentasClaras</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" routerLink="/groups">Grupos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" routerLink="/payments">Pagos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" routerLink="contacts">Contactos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" routerLink="/spendings">Gastos</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="../../assets/images/dropdown.png" height="30px">
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" routerLink="/">Mi perfil</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" routerLink="/">Cerrar sesión</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div>
	</nav>
} @else {
	<!--TODO: navbar usuario no logueado-->
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">CuentasClaras</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<button class="btn">Iniciar sesión</button>
					<button class="btn">Registrarse</button>
				</ul>
			</div>
			
		</div>
	</nav>
}