ul:hover {
    cursor: pointer;
}

ul li {
    background-color: #fafafa;
}

ul li:hover {
    background-color: #ebeaea;
    cursor: pointer;
}

.delete-member-option {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.71);
    transition: background-color 0.3s;
}

.delete-member-option:hover {
    background-color: #212529;
    cursor: pointer;
}