@font-face {
  font-family: "Poppins Bold";
  src: url("../../../assets/fonts/Poppins/Bold/Poppins-Bold.ttf") format('truetype');
}

.left-col {
  /* background: rgb(56, 149, 131); */
  /* background: linear-gradient(180deg, rgba(56, 149, 131, 1) 0%, rgba(92, 219, 148, 1) 50%, rgba(141, 228, 175, 1) 100%); */
  /* background: rgb(93,93,93); */
  /* background: linear-gradient(0deg, rgba(93,93,93,1) 0%, rgba(69,69,69,1) 36%, rgba(17,17,17,1) 78%); */
}

.login-footer {
  justify-content: space-between;
  max-width: 52rem;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login-footer p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: rgb(171, 171, 171);
}

h1 {
  color: #ededed;
  font-size: 2rem;
  letter-spacing: -0.049375rem;
  line-height: 2.5rem;
  font-family: Poppins Bold, sans-serif;
  width: 90%;
}

.cst-input-div {
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0 1px #1a1a1a;
}

.cst-input-div:focus-within {
  border-radius: 8px;
  transition: box-shadow .15s;
  box-shadow: 0 0 0 1px #7c7c7c, 0 0 0 4px hsla(0, 0%, 100%, .24);
}

.cst-form-control-lg {
  height: 48px;
  font-size: 1rem;
  border-radius: 8px;
  width: 100%;
  border: none;
  background: #0a0a0a;
  line-height: normal;
  outline: none;
  transition: border-color .15s, box-shadow .15s;
  padding: 1em;
  color: #e3e3e3;
}

.cst-form-control-lg::placeholder {
  color: #454545;
  opacity: 1;
}