<section>
    <h1>Register Me</h1>
    <form (ngSubmit)="register()">
        <div class="m-3">
            <label for="InputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="InputUsername" name= "username" [(ngModel)]="user.username" required>
        </div>
        <div class="m-3">
            <label for="InputLastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="InputLastName" name= "lastName" [(ngModel)]="user.lastName" required>
        </div>
        <div class="m-3">
            <label for="InputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="InputName" name= "name" [(ngModel)]="user.name" required>
        </div>
        <div class="m-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail" name= "email" [(ngModel)]="user.email" required>
        </div>
        <div class="m-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" name= "password" [(ngModel)]="user.password" required>
        </div>
        <div class="m-3">
            <label for="InputPassword2" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="InputPassword2" name= "password2" [(ngModel)]="confirmPassword" required>
        </div>
        <button type="submit" class="btn btn-success m-3">Register me</button>
    </form>
</section>